.article-card {
  padding: 0 0 2rem;
}

.article-card a {
  display: block;
  position: relative;
}

.article-card a:hover .article-card__info {
  opacity: 1;
  z-index: 2;
}
.article-card img {
  display: block;
  transition: opacity var(--duration-default) ease-in-out;
}
.article-card a:hover img {
  opacity: 0.7;
}

.article-card__title {
  margin: 1.4rem 0 .25rem;
  text-wrap: balance;
  font-weight: var(--font-button-weight);
  letter-spacing: var(--font-heading-spacing);
  text-transform: uppercase;
}

.article-card__tags {
  font-size: 1.2rem;
  font-weight: var(--font-body-weight);
  letter-spacing: var(--font-heading-spacing);
  line-height: 1.2;
  margin-top: .25rem;
  margin: 0;
  text-decoration: none;
}

.article-list {
  padding-bottom: 2.8rem;
}
.article-list a {
  display: flex;
  gap: 2.8rem;
}
.article-list .article-list-wrapper {
  flex: 0 0 25%;
}
.article-list .article-list__info {
  flex: 1;
}

/* Featured Articles */

.section-featured-articles .article-card {
  padding: 2.5rem .5rem .6rem;
}

.section-featured-articles .article-card__image-wrapper img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.section-featured-articles .article-card__info {
  align-items: center;
  background-color: rgb(var(--color-background));
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: all var(--duration-default) ease-in-out;
  z-index: -1;
}

.section-featured-articles .article-card__title {
  color: rgb(var(--color-base-button-background));
  font-size: 1.2rem;
  font-weight: var(--font-body-weight);
  letter-spacing: var(--font-body-spacing);
  margin: 0;
  padding: 1.5rem 1.5rem 0;
}
.section-featured-articles .squiggle {
  color: rgb(var(--color-base-button-background));
  overflow: hidden;
  width: 6rem;
}


@media (min-width: 40em) {
  .section-featured-articles .article-card {
    padding: 2.5rem 1.5rem .6rem;
  }
}

/* Style section in Careers page */
.template-page-careers .featured-blog .section-outer {
  padding-bottom: 0;
  margin-bottom: -3rem;
}
.template-page-careers .featured-blog h2.section-heading {
  padding-bottom: 0;
  font-size: 2rem;
  line-height: 1;
}
@media (min-width: 40em) {
  .template-page-careers .featured-blog h2.section-heading {
    font-size: 2.4rem;
  }
}